*{
  box-sizing: border-box ;
}

body{
  background-color: rgb(13, 15, 30);
  color: #ddd;
}

main{
  max-width: 360px;
  margin: 30px;
}

h1{
  text-align: center;
  color: #fff;
  margin: 0px ;
}

form{
  margin-top: 20px;
}

form input {
  width: 100%;
  background-color: transparent;
  color: #71777a;
  border: 2px solid #8a8dac;
  padding: 2px 5px;
  border-radius: 5px;
}

form input[type="datetime-local "]{
  color: #777;
}

form div.basic {
    margin-bottom: 5px;
    display: flex;
    gap: 5px;
}

form button{
  
  width: 99%;
  margin: 5px;
  border: 0px;
  border-radius: 5x;
  padding: 5px;
}

div.transactions{
  margin-top: 5px ;
}

div.transaction{
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #30313D;
}

div.transaction div.name {
  font-size: 1.2rem ;
}

div.transaction div.discription{
  font-size: 0.8rem;
  color: #888;
}

div.right{
   text-align: right ;
}

div.price.green{
  color: #1c1;
   
}

div.price.red{
  color: #c11;
}

div.transaction div.datetime{
  font-size: 0.8rem;
  color: #888;
}